In [1]:
import pandas as pd

In [12]:
# Path to your .XPT file
file_path = r"C:\Users\ekf98\OneDrive\Documents\UofG Courses\Term 2 Winter 2025\Machine Learning For Sequences\ML Project\LLCP2023XPT\LLCP2023.XPT"

# Read the .XPT file
data = pd.read_sas(file_path, format="xport")

# Display the first few rows
print(data.head())

   _STATE  FMONTH        IDATE IMONTH   IDAY    IYEAR  DISPCODE  \
0     1.0     1.0  b'03012023'  b'03'  b'01'  b'2023'    1100.0
1     1.0     1.0  b'01062023'  b'01'  b'06'  b'2023'    1100.0
2     1.0     1.0  b'03082023'  b'03'  b'08'  b'2023'    1100.0
3     1.0     1.0  b'03062023'  b'03'  b'06'  b'2023'    1100.0
4     1.0     1.0  b'01062023'  b'01'  b'06'  b'2023'    1100.0

           SEQNO          _PSU  CTELENM1  ...      DROCDY4_  _RFBING6  \
0  b'2023000001'  2.023000e+09       1.0  ...  5.397605e-79       1.0
1  b'2023000002'  2.023000e+09       1.0  ...  5.397605e-79       1.0
2  b'2023000003'  2.023000e+09       1.0  ...  5.397605e-79       1.0
3  b'2023000004'  2.023000e+09       1.0  ...  5.397605e-79       1.0
4  b'2023000005'  2.023000e+09       1.0  ...  7.000000e+00       1.0

       _DRNKWK2  _RFDRHV8  _FLSHOT7  _PNEUMO3  _AIDTST4  _RFSEAT2  _RFSEAT3  \
0  5.397605e-79       1.0       2.0       2.0       2.0       1.0       1.0
1  5.397605e-79       1.0       1.0       1.0       2.0       1.0       1.0
2  5.397605e-79       1.0       1.0       1.0       2.0       1.0       1.0
3  5.397605e-79       1.0       1.0       1.0       1.0       1.0       1.0
4  4.700000e+01       1.0       2.0       1.0       2.0       1.0       1.0

   _DRNKDRV
0       9.0
1       9.0
2       9.0
3       9.0
4       2.0

[5 rows x 350 columns]

In [13]:
data.head(1000)

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,DROCDY4_,_RFBING6,_DRNKWK2,_RFDRHV8,_FLSHOT7,_PNEUMO3,_AIDTST4,_RFSEAT2,_RFSEAT3,_DRNKDRV
0,1.0,1.0,b'03012023',b'03',b'01',b'2023',1100.0,b'2023000001',2.023000e+09,1.0,...,5.397605e-79,1.0,5.397605e-79,1.0,2.0,2.0,2.0,1.0,1.0,9.0
1,1.0,1.0,b'01062023',b'01',b'06',b'2023',1100.0,b'2023000002',2.023000e+09,1.0,...,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0,1.0,1.0,9.0
2,1.0,1.0,b'03082023',b'03',b'08',b'2023',1100.0,b'2023000003',2.023000e+09,1.0,...,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0,1.0,1.0,9.0
3,1.0,1.0,b'03062023',b'03',b'06',b'2023',1100.0,b'2023000004',2.023000e+09,1.0,...,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,1.0,1.0,1.0,9.0
4,1.0,1.0,b'01062023',b'01',b'06',b'2023',1100.0,b'2023000005',2.023000e+09,1.0,...,7.000000e+00,1.0,4.700000e+01,1.0,2.0,1.0,2.0,1.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1.0,1.0,b'03102023',b'03',b'10',b'2023',1100.0,b'2023000996',2.023001e+09,NaN,...,5.397605e-79,1.0,5.397605e-79,1.0,2.0,2.0,2.0,2.0,2.0,9.0
996,1.0,1.0,b'01192023',b'01',b'19',b'2023',1100.0,b'2023000997',2.023001e+09,NaN,...,1.700000e+01,1.0,1.170000e+02,1.0,NaN,NaN,1.0,1.0,1.0,2.0
997,1.0,1.0,b'03022023',b'03',b'02',b'2023',1100.0,b'2023000998',2.023001e+09,NaN,...,5.397605e-79,1.0,5.397605e-79,1.0,2.0,1.0,1.0,2.0,2.0,9.0
998,1.0,1.0,b'01112023',b'01',b'11',b'2023',1100.0,b'2023000999',2.023001e+09,NaN,...,1.000000e+01,1.0,2.100000e+02,1.0,NaN,NaN,1.0,1.0,1.0,2.0
999,1.0,1.0,b'01242023',b'01',b'24',b'2023',1100.0,b'2023001000',2.023001e+09,NaN,...,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,2.0,2.0,2.0,9.0

In [14]:
data.columns

Index(['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'DISPCODE',
       'SEQNO', '_PSU', 'CTELENM1',
       ...
       'DROCDY4_', '_RFBING6', '_DRNKWK2', '_RFDRHV8', '_FLSHOT7', '_PNEUMO3',
       '_AIDTST4', '_RFSEAT2', '_RFSEAT3', '_DRNKDRV'],
      dtype='object', length=350)

In [15]:
output_file = r"C:\Users\ekf98\OneDrive\Documents\UofG Courses\Term 2 Winter 2025\Machine Learning For Sequences\ML Project\CDC_2023.csv"
data.to_csv(output_file, index=False)